// "hamburger" menu

.menu-btn {  // button "outline"
  position: absolute;  // pin element in specific position inside the boundries of a relative parent
  top: 35px;  // top-rght corner
  right: 35px;
  cursor: pointer;
  @include easeOut; // transition effect
  z-index: 3;  // always on top

  .btn-line {  // button lines
    width: 28px;
    height: 3px;
    margin-bottom: 5px;  // space in-btw
    background: #fff;
    @include easeOut;
  }

  // Rotate into X with menu lines
  &.close {  // if class="menu-btn close"
    transform: rotate(180deg);

    .btn-line {  // instructions for individual lines

      // Line 1 - Rotate
      &:nth-child(1) {
        background: #eece1a;
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        background: #eece1a;
        transform: rotate(-45deg) translate(7px, -6px);
      }

    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show{
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  // Navigation side
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);  // pushes it off (above) the page
    @include easeOut;

    &.show {  // slide it in from top
      transform: translate3d(0, 0, 0);  // pulls it down to the page
    }
  }

  // Branding side
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);  // pushes it off (above) the page
    @include easeOut;

    &.show {  // slide it in from bottom
      transform: translate3d(0, 0, 0);  // pulls it down to the page
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/profile_250x250.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);  // pushes it off (right of) the page
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);  // slide it in from right
    }

    &.current > a {  // color link inside current
      color: $secondary-color;
    }
  }

  .nav-link {  // style individual links
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }

}

// Delay each nav item slide by 0.2s (changed from 0.1s so that each item can be read as they enter)
@for $x from 1 through 4 {  // for each of the 4 items
  .nav-item:nth-child(#{$x}) {  // like a ES6 template literal
    transition-delay: $x * 0.2s;  // each item enters 0.2s apart
  }
}
