// RESPONSIVE DESIGN

// Widescreens: (min-width: 1171px)
@include mediaXlarge {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops: (min-width: 769px) and (max-width: 1170px)
@include mediaLarge {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops: (max-width: 768px)
@include mediaMedium {
  main {
    align-items: center;
    text-align: center;

    .lg-heading{
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);  // slide item to the center {?}
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);  // x-axis: -100% => push item the right of the page
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);  // x-axis: 100% => push item the left of the page

    .portrait {
      background: url(../img/portrait_small.jpg);
      width: 150px;
      height: 150px;
    }

  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

}

// Smartphones: (max-width: 500px)
@include mediaSmall {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
